{% load static %}
<div class="row small-bottom-pad">
    <div class="row justify-content-center" id="intro">
        <div class="col-md-5">
            <h2>{{ CUSTOM_TITLE }}</h2>
            <p>
                The MetaGenome Project is hosting an instance of the NIST Data Curation System,
                this system allows for the curation of Metamaterials Data in a repository using
                predefined templates.
            </p>
            <p>
                This is being developed at the National Institute of Standards and Technology and
                is made available to solicit comments from the Material Science community.
                <b>Please do not enter any proprietary data into this system.</b>              
            </p>
            <p>
                You can find the MetaGenome Project GitHub Organisation here: <a href="https://github.com/Meta-Genome-Org/">Meta-Genome-Org</a>.
            </p>
        </div>
    </div>
</div>
<div class="row justify-content-center text-center small-bottom-pad">
    <div class="col-md-6 mx-auto text-center iframe-container">
        <iframe src="https://www.youtube.com/embed/m6mZXjL0uaA" 
            title="MetaGenome MDCS Submission Demo" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-5" id="tiles">
    </div>
    <div class="col-md-5" id="templates">
    </div>
</div>